  @font-face {
    font-family: 'Technology';
    src: url('technology.bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  *{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  body{
    font-family:Verdana;
    background-color: #002345;
    color: #ABCDEF;
  }
  h1{
    text-align: center;
    font-size: 50px;
    margin: 80px 0 20px 0;
    color: white;
  }
 
  fieldset{
    width: 750px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
    background: black;
  }

  #reloj{
    font-size: 12em;
    color: #39ff14;
    font-family: 'Technology';
    letter-spacing: 20px;
    margin:0;
    padding: 0;
  }

  #fecha{
    font-size: 1.8em;
    color: #F72119;
    font-family: 'Technology';
    letter-spacing: 10px;
    padding: 30px 0px 0px 10px;
  }

  section {
    margin: 70px;
    line-height: 30px;
  }

  p, img, a {
    vertical-align: middle;
    padding: 5px;
  }

  #tec-text {
    font-size: 30px;
    margin: 70px;
  }

  img{
    border-radius: 150px;
  }

  a {
    text-decoration: none;
    text-decoration: underline;
    color: #9823b6;
    font-size: 25px;
  }
